/* cANVIAR A FLEXBOX */
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

article {
    gap: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &:hover {
        transform: translateY(-5px);
        background-color: #e2e2e2;
    }

    h3 {
        font-size: 1.5rem;
        margin: 0;

    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        margin-bottom: 1rem;
        object-fit: cover;
    }
}

main ul {
    margin-left: 1.5rem;
    padding-left: 1.5rem; 
    list-style-position: inside; /* fa que els punts quedin dins del marge del text */
    font-size: 1.1rem;
}

main p {
    font-size: 1.1rem; /* augmenta o redueix segons vulguis (1rem = mida base) */
}