nav li {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  background: #0c1943;
  border-radius: 10px;
  width: max-content;
  min-width: 100%;
  white-space: nowrap;
}

.submenu li {
  display: block;
  border-bottom: 1px solid rgb(95, 95, 95);
  margin: 10px;
}

.dropdown:hover .submenu {
  display: block;
}



