
.dosculmnas {
    display: flex;
    gap: 20px;
}

.dosculmnas img {
    width: 100%;
    border-radius: 20px;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;       /* Permite que los elementos bajen a la siguiente fila */
    gap: 10px;             /* Espacio entre los cuadros */
    justify-content: center;
    align-content: center;
    border-radius: 0px;
    box-shadow: 0 0 0px 0px;
}

.item {
    flex: 1 0 45%;         /* Cada cuadro ocupa aproximadamente la mitad del contenedor (2 columnas) */
    height: 45%;           /* Altura aproximada de cada cuadro */
    display: flex;
    flex-direction: column;
}

#missatgeria {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chevron {
    width: 50px;
    height: 50px;
    border-radius: 100%;             /* gris fosc elegant */
    color: white;                  /* el SVG hereta el color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chevron:hover {
    background-color: rgb(160, 160, 160);
}

svg {
    width: 50px;
    height: 50px;
}
