
.block-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-main{
    display: flex;
    flex-direction: column;
}

.block-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.block-iz {
    display: flex;
    flex-direction: column;
}

.block-de {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.p-de {
    background-color: #f5eee8;
    padding: 1rem;
}
