main section {
    display: flex;
    flex-direction: row;
}

.chevron {
    width: 50px;
    height: 50px;
    border-radius: 100%;             /* gris fosc elegant */
    color: white;                  /* el SVG hereta el color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chevron:hover {
    background-color: rgb(160, 160, 160);
}

svg {
    width: 50px;
    height: 50px;
}

main section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0rem;
    gap: 1rem;
}

main section section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;

}

main section section section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

main section section section article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

main section section section article article {
    display: flex;
    flex-direction: column;
}

main section section section article figure {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

main section section section figcaption {
    display: flex;
    flex-direction: column;
}

main section section section section {
    display: flex;
    flex-direction: column;
}

main section section section section article {
    display: flex;
    flex-direction: column;
}