<a href="/index.html">
    <img src="/assets/img/logo.png" alt="Logotip Montsià30 - Anar a l'inici">
</a>

<nav id="nav_digi">
    <div class="dropdown">
        <a href="#">Eines Digitalització</a>
        <div class="dropdown-content">
            <a href="./einesdigitalitzacio/missatgeria/missatgeria1.html">La missatgeria instantània</a>
            <a href="./einesdigitalitzacio/xarxessocials/xarxessocials1.html">Les xarxes socials</a>
            <a href="./einesdigitalitzacio/geolocalitzacio/geolocalitzacio1.html">Les plataformes de goelocalització</a>
            <a href="./einesdigitalitzacio/paginesweb/paginesweb1.html">Les pagines web</a>
            <a href="./einesdigitalitzacio/botiguesonline/">Les botigues online</a>
            <a href="./einesdigitalitzacio/aplicacionsmobils/aplicacionsmobils1.html">Les aplicacions mòbils</a>
            <a href="./einesdigitalitzacio/bulletinselectronics/bulletinselectronics1.html">Els bulletins electrònics</a>
            <a href="./einesdigitalitzacio/puntdeventa/puntdeventa1.html">Les tecnologies al punt de venda</a>
        </div>
    </div>
    <div><a href="">X</a></div>
    <div><a href="/pages/digitalitzacio/suggeriments.html">Sugeriments</a></div>
    <div><a href="/pages/digitalitzacio/contactes.html">Contacte</a></div>
</nav>